.category_sidebar_container {
    margin-left: 3rem;
    margin-bottom: 2rem;
}
.category_sidebar_name_container {
    align-items: center;
}
.category_sidebar_name {
    font-size: 26px;
    margin-left: 0.5rem;
    color: $main-pink;
}