.sub_category_sidebar_button {
    border: none;
    background: none;
    font-size: 24px;
    text-align: left;
    padding: 2px 0px;
}
.sub_category_sidebar_list_container {
    margin-bottom: 10px;
}
.checkbox__title {
    font-size: 20px;
    line-height: 1.2px;
    padding-left: 17px;
}