.thankyou-title {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin: 5% 0% 0% 0%;
}
.thankyou-subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}
.thankyou-text {
  text-align: center;
  font-size: 25px;
}
.main-pink {
  color: $main-pink;
  font-size: 24px;
  margin: 0% 0% 0% 0%;
}
.comingsoon_title {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  margin: 0%;
  color: $main-pink;
}
