.div-split-component-in-flex-row-container {
    display: flex;
    flex-direction: row;
    // margin: 0px 0px 10px 0px;
}

.div-menu-search-product-container {
    justify-content: center;
    // margin-top: 50px;
}

.div-preview-article-container {
    margin-top: -15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}