@font-face {
  font-family: 'db_heavent_ulli_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_ulli';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_ulli_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_li_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_li';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_li_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_thin_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_thin';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_thin_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_med_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_med';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_med_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_bd_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_bd';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_bd_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_blk_it';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_it_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_it_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_it_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_it_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_it_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heavent_blk';
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_v3.2.1-webfont.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_v3.2.1-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_v3.2.1-webfont.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_v3.2.1-webfont.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/nineti9/db_heavent/db_heavent_blk_v3.2.1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
